body {
    background-color: rgb(0, 0, 0)
}

h1 {
    color: rgb(0, 255, 55);
    text-align: center;
    padding: 20px;
    font-size: 60px;
}
h2 {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

p {
    color: white;
    text-align: center;
    font-size: 23px;
}

button {
    background-color: rgb(0, 255, 55);
    border: none;
    color: rgb(0, 0, 0);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

table {
    background-color: white;
    text-align: center;
    border: 1px solid green;
    border-collapse: 5px collapse rgb(0, 255, 55);
    padding: 10px;
}
